<div class="schedule">
  <h2>Schedule</h2>
  <br />

  {{#each schedule}}
    {{#if break}}
      <div class="recess__break">
        <br />
        <p>{{break}}</p>
        <br />
      </div>
    {{else}}
      <details class="week week--{{week}}">
        <summary>Week {{week}}</summary>
        {{#each sessions}}
          <details class="week__{{../week}}-session">
            <summary>{{date}}</summary>
            <ul>
              {{#each items}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </details>
        {{/each}}
      </details>
    {{/if}}
  {{/each}}

</div>